header{
    background-color: #8fbc8f;
    width: 100%;
    min-height: 130px;
}


.logo{
    width: 100%;
    height: 100%;
    margin-top: -1%;
    position:relative;
}

.title{
    text-align: center;
    width: 40%;
    height: 10%;
    display:inline;
    margin-top: 100%;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
}


.register{

    margin-top: -2%;

}

.btn1{
    float: right;
    margin: 0px 10px;
}

.reg{
    color: rgb(255, 255, 255);
    background-color: darkseagreen;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 26px;
    font-family: 'Anton', sans-serif;

}

.log{
    color: rgb(255, 255, 255);
    background-color: darkseagreen;
    border: 2px solid rgb(255, 255, 255);
    font-size: 26px;
    font-family: 'Anton', sans-serif;
    border-radius: 10px;

}

.reg:hover , .log:hover{
    color: darkseagreen;

    background-color: rgb(255, 255, 255);
}

.dropdown-item:hover  {
    color: white;
    font-family: 'Anton', sans-serif;
    background-color: darkseagreen;
}

.nav-item{
    /* background-color: #8fbc8f; */
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    height: 120px;
}

.nav-item a:hover{
    font-family: 'Lora', sans-serif;
    font-size: 40px;
}

.dropdown-content {
    display: none;
    line-height: 26px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.offcanvas{
    background: linear-gradient(to bottom,rgb(221, 203, 203) , darkseagreen);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (max-width: 1000px) {

    .logo{
        width: 12%;
        height: 10%;
        margin-left: 10%;
        position: relative;
    }

    .title{
        text-align: end;
        margin-right: 10px;
        width: 40%;
        height: 10%;
        font-size: 1px;
        display:inline;
        margin-top: 100%;
        font-family: 'Anton', sans-serif;
        color: rgb(255, 255, 255);
    }



}



@media screen and (max-width: 340px){
    .title{
        text-align: end;
        margin-right: 10px;
        width: 40%;
        line-height: 50px;
        height: 10%;
        padding-left: 20px;
        font-family: 'Anton', sans-serif;
        color: rgb(255, 255, 255);
    }

    .logo{
        width: 12%;
        height: 14%;
        margin-left: 13%;
        margin: 100px;
        position: relative;
    }


}
@media screen and (max-width: 225px){
    .title{
        text-align: end;
        margin-right: 10px;
        width: 40%;
        line-height: 50px;
        height: 10%;
        padding-left: 20px;
        font-family: 'Anton', sans-serif;
        color: rgb(255, 255, 255);
    }

    .logo{
        width: 12%;
        height: 10%;
        margin-left: 10%;
        margin: 130px;
        position: relative;
    }


}


.btn_group{
    background-color: #000000;

}



.carousel{
    width: auto;
    height: auto;

    /*margin-top: 30px;*/

}

.carousel img{
    border-radius: 4px;
}

.carousel-caption h5{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-style: normal;
}

.carousel-caption p{
    text-align:center;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
