.form-control:focus {
    box-shadow: none;
    border-color: #5ecb70
}

.profile-button {
    background: rgb(59, 164, 133);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #2a9a57
}

.profile-button:focus {
    background: #2c943c;
    box-shadow: none
}

.profile-button:active {
    background: #2c943c;
    box-shadow: none
}

.back:hover {
    background: #2c943c;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #3ba485;
    color: #3ba485;
    cursor: pointer;
    border: solid 1px #3ba485
}