


<!-- Import Bootstrap -->
    <link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>

    <!-- Import css -->
    <link rel="stylesheet" href="/css/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>



<!-- Inizio Footer -->

<footer>
    <div class="footer1">
        <!-- Container copyright -->
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="text-center p-3" style="background-color: #8fbc8f;">
                        &copy; 2023 Copyright:
                        <a class="text-dark" href="">GrennMonitoring</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container Link Chi siamo -->
        <div style="margin-top: 40px;" class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h5 class="text-uppercase">Chi Siamo</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Domande frequenti</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Lincenza</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Informativa privacy</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Condizioni D'uso</a>
                        </li>
                    </ul>
                </div>
                <!-- Link utili -->
                <!-- Link Facebook -->
                <div class="col-2 col-md-2 col-xs-12">
                    <a href="#!" class="text-dark"><img style="height: 30px; width: 30px;" src="img/facebook.png" class="img-fluid rounded-top" alt=""></a>
                </div>
                <!-- Link Instagram -->
                <div class="col-2 col-md-2 col-xs-12">
                    <a href="#!" class="text-dark"><img src="img/instagram.png" class="img-fluid rounded-top" alt=""></a>
                </div>
                <!-- Link Twitter -->
                <div class="col-2 col-md-2 col-xs-12">
                    <a href="#!" class="text-dark"><img src="img/twitter.png" class="img-fluid rounded-top" alt=""></a>
                </div>
                <!-- Link Telegram -->
                <div class="col-2 col-md-2 col-xs-12">
                    <a href="#!" class="text-dark"><img style="height: 30px; width: 30px;" src="img/telegram.png" class="img-fluid rounded-top" alt=""></a>
                </div>
            </div>
        </div>
        <!-- Container Logo -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logoFooter">
                        <div class="text-center p3">
                            <a href="index.jsp" class="text-dark"><img style="width:150px; height: auto;" src="
                            img/logo.png" class="img-fluid rounded-top" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Fine Footer -->
