<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Link per l'importo del font  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

  <link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/headerLogin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-md-1 col-xs-12">
        <!-- Logo -->
        <div style="position: absolute;" class="logo">
          <img src="img/logo.png" class="img-fluid rounded-top" alt="">
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <!-- Titolo -->
        <div class="title" style="margin-top: 20px;">
          <h1 class="display-4">Green Monitoring</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="btn1">
          <div class="dropdown">
            <button class="reg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" >
              Profilo
            </button>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" href="Profile.jsp">Informazioni Personali</a></li>
              <li><a class="dropdown-item" href="ModificaProfilo.jsp">Modifica Profilo</a></li>
              <li><a class="dropdown-item" href="ServletLogout">Logout</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

</body>
</html>