<!-- Import Google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<!-- Import Bootstrap -->
<link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>

<!-- Import css -->
<link rel="stylesheet" href="/css/headerLogin.css">
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="img/favicon.png">


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<!-- Inizio Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-xs-12">
                <!-- Logo -->
                <div style="position: absolute;" class="logo">
                    <a href="index.jsp"><img style="width: 100px; height: auto" src="img/zoomed_lg2.png" class="img-fluid rounded-top" alt=""></a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <!-- Titolo -->
                <div class="title" style="margin-top: 20px;">
                    <h1 class="display-4">Green Monitoring</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn1">
                    <div class="dropdown">
                        <button class="reg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                            Registrazione
                        </button>
                        <ul style="text-align: center; font-size: 20px; font-family: 'Anton' sans-serif;"
                            class="dropdown-menu">
                            <li><a class="dropdown-item" href="RegistrazioneAzienda.jsp">Registra Azienda</a></li>
                            <li><a class="dropdown-item" href="Dipendente.jsp">Registra Dipendente</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn1">
                    <form action="Login.jsp"><input class="log" type="submit" value="Login"></form>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<!-- Fine Header -->
